* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
}

.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  background-image: url('imgs/best.webp');
} 

.title {
  margin-top: 10px;
  max-width: 600px;
}

.feature-image {
  width: 850px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.search-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 500px;
  height: 40px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  background-color: #cc1313;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 30px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #b30000;
}

.logo {
  width: 200px; 
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  margin-left: auto; 
}

nav ul li {
  margin: 0 20px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6f61;
}

.category h1 {
  text-align: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.title h4 {
  font-size: 25px;
  font-weight: normal;
}

.phrase {
  padding-top: 20px;
}

.title {
  position: absolute;
  left: 50px;
  top: 45%;
  transform: translateY(-50%);
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.title button {
  padding: 15px 30px;
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
  margin-top: 15px;
}

.title button:hover {
  color: white;
  background-color: black;
}

.prod {
  text-align: center;
}

.category {
  text-align: center;
  margin: 60px 0 20px;
  font-size: 32px;
  color: #e53935;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.gallery-sup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  width: calc(28% - 30px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.content-sup {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  width: calc(28% - 30px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.content:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content-sup:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content img {
  width: 100%;
  height: auto;
}

.content h3, .content-sup h3 {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.content p, .content-sup p {
  margin-top: 10px;
  text-align: center;
  color: #666;
}

.tablet {
  height: 400px;
  width: 300px;
  margin-top: 60px;
}

.ppow {
  height: 400px;
  width: 350px;
  margin-top: 60px;
}

.oil {
  width: 400px;
  height: 420px;
  margin-top: 70px;
}

.creatine {
  width: 400px;
  height: 400px;
  margin-top: 60px;
}

.content button, .content-sup button {
  display: block;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto 0;
  align-self: center;
}

.content button:hover, .content-sup button:hover {
  background-color: #d32f2f;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('imgs/service_card_bodywork_2x.png');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 40px;
}

#banner h2 {
  font-size: 32px;
  margin-top: 20px;
  color: white;
}

#banner h2 span {
  color: #dc3545;
}

#banner button {
  padding: 15px 30px;
  font-size: 20px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 50px;
}

#banner button:hover {
  background-color: black;
  color: white;
}

.about {
  min-height: 100vh;
  width: 100%;
  background: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.about .main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.about img {
  max-width: 900px;
}

.about .text h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about .text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about .text p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.about .text button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about .text button:hover {
  background-color: #d32f2f;
}

.features{
  width: 100%;
  height: auto;
  padding: 0 8%;
  box-sizing: border-box;
}

.features h1{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.features h1::after {
  content: ' ';
  background: #d32f2f;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.service {
  text-align: center;
  padding: 35px 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s, color 0.5s;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}

.service h2 {
  margin-bottom: 8px;
}

.service:hover {
  background: black;
  color: white;
  transition: scale(0.5s);
}

.service:hover i {
  color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)); 
  grid-template-rows: auto auto; 
  grid-gap: 160px; 
  margin: auto;
}

section {
  padding: 40px 13% 35px;
}

.footer img {
  width: 180px;
  height: 180px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  padding-top: 100px;
  gap: 2.5rem;
  background: rgb(0, 0, 0);
}

.footer-content h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
}


.footer-content li {
  margin-bottom: 30px;
  list-style: none;
}

.footer-content li a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease, transform 0.4s ease;
  color: #d6d6d6;
  text-decoration: none;
}

.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-content p {
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 0;
}

.icons a {
  display: inline-block;
  font-size: 22px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all 0.4s ease;
}

.icons a:hover {
  color: #fff;
  transform: translateY(5px);
}